body{
    margin: 0 auto;
    background-color: #343a40 !important;
}

.dropdown-menu .dropdown-item {
  list-style: none;
}

  
  .nav-tabs .nav-link {
    background-color: #343a40 !important;
    color: white !important;
  }

  .nav-item {
    margin-bottom: 10px !important;  /* adiciona 10 pixels de espaço entre os botões */
  }

  /* .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333; 
    color: #fff; 
    text-align: center;
    margin: 0%;
 } 
 */

